body {
    /* background-image: url("/static/img/background.jpg"); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

div.main_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

a.container {
    cursor: pointer;
}

a.container img {
    max-width: 256px;
    max-height: 256px;
    transition: transform .4s ease-in-out;
    outline: none;
    border: 0;
}

a.container:hover img {
    transform: scale(1.2) rotate(10deg);
}
