div.main_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

div.container {
    cursor: pointer;
}

div.container img {
    max-width: 256px;
    max-height: 256px;
}
