div.songs_table {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.song {
    margin-top: 5px;
    padding: 5px;
    background-color: #18191a;
    display: flex;
    flex-flow: row nowrap;
}

div.song img {
    width: 50px;
}

div.song_info {
    margin-left: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
div.song_info a {
    color: rgb(242, 93, 93);
}

div.listen_time {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

a.listen_time {
    align-self: center;
}

div.intro p {
    max-width: 500px;
}
