div.songs_table {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.song {
    margin-top: 5px;
    padding: 5px;
    background-color: #18191a;
    display: flex;
    flex-flow: row nowrap;
}

div.song img {
    width: 60px;
    height: 60px;
}

div.song_info {
    margin-left: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

div.time_listened {
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
}

a.time_listened {
    align-self: center;
}

div.intro p {
    max-width: 500px;
}

canvas.listening_data_plot {
    width: 400px !important;
    height: 100px !important;
    background-color: #18191a;
}
