{% extends 'base.html' %}

{% block head %}
  <title>Mahmood blog</title>
  <link rel="stylesheet" href="/css/blog/index.css">
{% endblock %}

{% block content %}
  {% if g.user['is_admin'] %}
    <a class="action" href="{{ url_for('blog.create') }}">Create</a>
  {% endif %}
  {% if g.user %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
  {% else %}
    <a href="{{ url_for('auth.login') }}">Login</a>
  {% endif %}
   <div class="links_container">
    {% for post in posts %}
      <div class="link">
        {% if post['admin_only'] %}
          {% if not g.user or not g.user['is_admin'] %}
            <a class="disabled" href="#">{{ post['title'] }}</a>
            {% elif g.user and g.user['is_admin'] %}
              <a href="{{ url_for('blog.post', id=post['id']) }}">{{ post['title'] }}</a>
          {% endif %}
          <span class="red"> - admin only</span>
        {% else %}
          <a href="{{ url_for('blog.post', id=post['id']) }}">{{ post['title'] }}</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
