<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8"/>
    <link href="{{ url_for('static', filename='about.css') }}" rel="stylesheet"/>
    <title>Document</title>
  </head>
  <body>
    <button id="back_button">Back</button>
    <p>
      I am a person who loves to program and automate everything
      <br>
      and my computer gives me the superpowers to do so.
    </p>
  </body>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="{{ url_for('static', filename='about.js') }}"></script>
</html>
