<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="icon" href="/static/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata"/>
  </head>
  <body>
    {% block aboveContent %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>
</html>
