{% extends 'base.html' %}
{% block head %}
  <title>Mahmood</title>
  <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
<div class="main_container">
  <a href="blog/">my blog</a>
  <a href="spotify.html">my music data</a>
  <a href="spotify.html">about me</a>
  <a href="https://www.youtube.com/channel/UCcPCQWXX3tAVjsza5EhypXw" target="_blank">youtube</a>
  <a href="https://github.com/mahmoodsheikh36" target="_blank">github</a>
  <a href="why_ugly" >why is my website ugly?</a>
</div>
{% endblock %}
