{% extends 'base.html' %}
{% block head %}
  <title>Mahmood</title>
  <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
  <div class="main_container">
    <a class="container" id="github" href="/github">
      <img src="/static/img/github.png" alt="Github">
    </a>
    <a class="container" id="spotify" href="/spotify">
      <img src="/static/img/spotify.png" alt="Spotify">
    </a>
    <a class="container" id="youtube" href="/youtube">
      <img src="/static/img/youtube.png" alt="YouTube">
    </a>
  </div>
{% endblock %}
