{% extends 'base.html' %}
{% block head %}
  <title>Mahmood</title>
  <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}
  <div class="main_container">
    <div class="container" id="github">
      <img src="/static/img/github.png" alt="Github">
    </div>
    <div class="container" id="youtube">
      <img src="/static/img/youtube.png" alt="YouTube">
    </div>
    <div class="container" id="spotify">
      <img src="/static/img/spotify.png" alt="Spotify">
    </div>
  </div>
{% endblock %}
