{% extends 'base.html' %}

{% block head %}
  <title>Mahmood's music</title>
  <link rel="stylesheet" href="/css/music.css">
{% endblock %}

{% block content %}
  {% for track in tracks %}
  <div class="tracks_container">
    <div class="track">
      <img alt="image" src="{{ track['image_url'] }}"/>
      <div class="info_container">
        <div class="info">
          <a>{{ track['name'] }}</a>
          <a>{{ track['artist'] }}</a>
        </div>
        <a class="listen_time">{{ track['listen_time'] }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
